.App {
  text-align: center;
}

#proj {
  box-shadow: rgba(229, 255, 0, 0.25) 0px 54px 55px, rgba(229, 255, 0, 0.25) 0px -12px 30px, rgba(229, 255, 0, 0.25) 0px 4px 6px, rgba(229, 255, 0, 0.25) 0px 12px 13px, rgba(229, 255, 0, 0.25) 0px -3px 5px;
}